body{
    background:#000;
    color:#FFF;
    font-size: 20px;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#bingo-card{
    background:#FFF;
    color:#000;
    position:relative;
    margin:0 auto;
    width:377px;
}
#bingo-card table{
    color:#000;
}
#bingo-card table th, #bingo-card table td {
    padding: 10px;
    border: 2px #666 solid;
    text-align: center;
    font-size: 24px;
}
#bingo-card table td{
    cursor:pointer;
}

#buttons{
    display: block;
    position: relative;
    margin: 10px auto;
    width: 200px;
}

#buttons div {
    position: relative;
    float: left;
}

#btn-bingo, #btn-generate{
    width:100px;
    height:100px;
    background:#0D0;
    font-weight:bold;
    border-color: #F66;
    cursor:pointer;
    border-radius:50%;
    font-size:17px;
}

#btn-generate {
    background: #bcaa2d;
}

#free {
    background-color: #F66;
    cursor:default;
}